<div class="layout-wrapper" (click)="onLayoutClick()"
    [ngClass]="{'layout-menu-slim': slimMenu, 
                'layout-menu-overlay': overlayMenu,
                'layout-menu-static': staticMenu,
                'layout-menu-static-inactive': staticMenuInactive,
                'layout-menu-overlay-active': overlayMenuActive,
                'layout-menu-active': mobileMenuActive}">
    
    <app-fitness-client-topbar></app-fitness-client-topbar>

    <div class="layout-main">
        <app-fitness-client-menu [reset]="resetSlim"></app-fitness-client-menu>
        
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>
        
        <app-fitness-client-footer></app-fitness-client-footer>
    </div>     
    
    <div class="layout-mask" *ngIf="mobileMenuActive"></div>
    <p-growl></p-growl>
</div>