<div class="ui-g">
    <div class="ui-g-12">
        <p-menubar [model]="menuItems"></p-menubar>
    </div>
    <div class="ui-g-12">
        <p-dataTable [value]="items"
                     [rows]="itemsPerPage"
                     [paginator]="true"
                     (onPage)="pageChanged($event)"
                     (onFilter)="filterChanged($event)"
                     (onSort)="sortingChanged($event)"
                     [sortField]="sorting.field"
                     [sortOrder]="sorting.order"
                     [totalRecords]="totalItems"
                     [lazy]="true"
                     [rowsPerPageOptions]="[10,20,30]"
        >
            <p-column field="name" header="Имя">
                <ng-template let-item="rowData" pTemplate="body">
                    <a [routerLink]="" (click)="updateItem(item.id)">{{item.name}}</a>
                </ng-template>
            </p-column>
            <p-column field="enabled" header="Статус">
                <ng-template let-item="rowData" pTemplate="body">
                    <p-inputSwitch onLabel="Активирован" offLabel="Заблокирован" [(ngModel)]="item.enabled" (onChange)="changeStatus(item)"></p-inputSwitch>
                </ng-template>
            </p-column>
            <p-column>
                <ng-template let-item="rowData" pTemplate="body">
                    <button pButton type="button"
                            class="ui-button-danger"
                            icon="fa fa-fw fa-trash"
                            (click)="deleteItem(item.id)" label="Delete"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<p-confirmDialog></p-confirmDialog>

<p-dialog *ngIf="displayItemDialog"
          [positionTop]="50"
          [width]="500"
          (onShow)="itemPanel.initItem()"
          (onHide)="itemPanel.clearItem()"
          [header]="getItemDialogTitle()"
          [(visible)]="displayItemDialog"
          [draggable]="false" [resizable]="false" modal="modal" [responsive]="true">
    <app-fitness-client-panel #itemPanel [itemId]="itemIdSelected" (update)="itemUpdated()" (create)="itemCreated(id)"></app-fitness-client-panel>
</p-dialog>
